// Override default Bootstrap variables before the import
$body-bg: #f3f3f3;
$blue: #425af2;

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

body {
  margin: 0;
  font-family: "Poppins", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav-item {
  padding: 5px 10px;
  > a,
  > a.nav-link {
    color: #000 !important;
    display: inline;
    padding: 0;
  }
  .active {
    color: $blue;
  }
}

.btn-light {
  border: 1px solid #ddd;
}
