*.env
/data
**/node_modules
.idea/
.vscode
.terraform
backend.tf
cypresse2e/cypress/screenshots/
cypresse2e/cypress/videos
.history
.DS_Store
docker-compose.override.yml
**/yarn.lock
client/src/components/Input/FormInput ORIGINAL.js
client/src/components/Positions/PositionApplicationForm - Original.js
client/src/components/Positions/PositionApplicationForm - Original.js
route.rest
