// Import Colors
@import "./colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

$body-bg: $white;
$primary: $royal-blue;
$font-family: "Poppins", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
